// Colors 
$color-theme: #00B1BF;
$color-secondary: #3498db;
$color-body: #ffffff;
$color-heading: #333333;
$color-border: #dddddd;
$color-grey: #f5f5f5;
$color-dark : #202020;
$color-black: #000000;
$color-white: #ffffff;



// Font Family
$ff-body: normal normal 45px/101px Helvetica Neue LT Arabic;
$ff-heading: normal normal normal 18px/45px Helvetica Neue LT Arabic;

// Font Size
$fz-body: 14px;
$fz-heading-1: 42px;
$fz-heading-2: 36px;
$fz-heading-3: 26px;
$fz-heading-4: 22px;
$fz-heading-5: 18px;
$fz-heading-6: 16px;
$fz-heading-title: 45px;
$fz-heading-text: 24px;


