@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../css/colors.scss";
@import "../css/auth.scss";

html, body {
  overflow-x: hidden !important;
}
body {
  overflow-x: hidden !important;
}

// Navbar
header {
  top: 0px;
  left: 0px;
  // width: 1920px;
  // height: 900px;
}

// Anmaion



nav {
  opacity: 1;
  font: normal normal normal 18px/40px Helvetica Neue LT Arabic;
  background: transparent radial-gradient(closest-side at 36% 50%, #024f55 0%, #00464d 100%) 0% 0% no-repeat padding-box;


.logo {
top: 29px;
left: 1242px;
width: 273px;
height: 71px;
// background: transparent url('/assets/img/Logo.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}


button {
top: 45px;
left: 405px;
width: 163px;
height: 50px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 24px;
opacity: 0.15;
}

}

.navbar-light .navbar-nav .nav-link {
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size: $fz-heading-5;
  padding: 17px;
 
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
  padding: 16px !important;
}

a.nav-link:hover {
  color: #fff !important; 
}

.btn-drons:hover {
     color: #FFFFFF !important;
     background-color: #08cad8;
}

.nav-item:hover:after {
  display:block;
  content: '';
  border-bottom: solid 1px #fff;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.nav-item:hover:after { transform: scaleX(1); }


.bg-drones {
  top: -142px;
  left: 0px;
  width: 100%;
  height: 800px;
  background: transparent url('/assets/img/BG\ &\ Circles.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.signin-btn {
text-align: left;
font: normal normal normal 18px/40px Helvetica Neue LT Arabic;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

// main-heading
.main-heading {
  margin-top: 14%;
    position: inherit;
    .drone-svg {
      position: absolute;
      top: 29%;
    }
}

.heading-title {
font: normal normal bold 45px/101px Helvetica Neue LT Arabic;
letter-spacing: 0px;
color: #FFFFFF;

}

.heading-text {
  font-size: $fz-heading-text !important;
  font: normal normal  45px/101px Helvetica Neue LT Arabic;
letter-spacing: 0px;
color: #FFFFFF;
margin-top: 20px;
line-height: 1.5;
}

// heading-list

header {


    ul {
      list-style: none;
      font: normal normal  45px/101px Helvetica Neue LT Arabic;
      font-size: $fz-heading-6;
      margin-top: 20px !important;
      white-space:nowrap;
     
    }


  li {
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
line-height: 2.5;
padding-bottom: 12px !important;
  }

  li img {
    padding-left: 14px;
  }

}

.shape-bg {
  position:relative;
  width: 100%;
  top: -142px !important;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/Shapes.svg);
}

// list

.content-width {
  width: 86%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.slideshow-items {
  position: relative;
  width: 100%;
  height: 300px;
}

// .item {
//   position: absolute;
//   width: 100%;
//   height: auto;
// }

.item-image-container {
  position: relative;
  width: 42%;
  float: left;
}

.item-image-container::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 101%;
  height: 101%;
  background: #22222A;
  opacity: 0;
  z-index: 1;
}

.item-image {
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0;
  display: block;
  /* transition: property name | duration | timing-function | delay  */
  transition: opacity .3s ease-out .45s;
}

.item.active .item-image {
  opacity: 1;
}

.item.active .item-image-container::before {
  opacity: .8;
}

.item-description {
  position: absolute;
  top: 182px;
  right: 0;
  width: 50%;
  padding-right: 4%;
  line-height: 1.8;
}

/* Staggered Vertical Items ------------------------------------------------------*/

.main-heading-title {
  position: absolute;
  color: #00B1BF;
  font-size: 45px;
  font-size: $fz-heading-6;
  font: bold 45px/101px Helvetica Neue LT Arabic;
  text-align: right;
  line-height: 0.2;
}
.item-header {
  position: absolute;
  top: 150px;
  left: -1.8%;
  z-index: 100;
}

.item-header .vertical-part {
  margin: 0 -4px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: auto;
  font-size: 7vw;
  color: #fff;
}

.vertical-part {
  overflow: hidden;
  display: inline-block;
}

.vertical-part b {
  display: inline-block;
  transform: translateY(100%);
}

.item-header .vertical-part b {
  transition: .5s;
}

.item-description .vertical-part b {
  transition: .21s;
}

.item.active .item-header .vertical-part b {
  transform: translateY(0);
}

.item.active .item-description .vertical-part b {
  transform: translateY(0);
}

/* Controls ----------------------------------------------------------------------*/
.controls {
  position: relative;
  text-align: right;
  z-index: 1000;
}

.controls ul {
  list-style: none;
}

.controls ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  background:#bdbdd5;;
  cursor: pointer;
}

.controls ul li.active {
  background:#6a6a77;;
}

// next

.carousel-caption {
  position: static;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 4.25rem;
  padding-bottom: 1.25rem;
  color: #000;
  text-align: right !important;
  height: 420px;
  max-width: 400px;
}


  .carousel-indicators [data-bs-target] {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #EAEAEA;
}


.carousel.fade .item {
  transition: opacity ease-out .7s;
}


.carousel-indicators {

  button {
    margin-bottom: -4rem;
  }

  li {
    height: 30px;
    width: 30px;
    border-radius: 15px;
  }

  button:active, button:hover, button:focus {
    background-color: $color-theme !important;
  }

}

.news-img {
  width: 400px;
  max-width: 400px;
  height: 300px;
  max-height: 300px;
  float: left;
}

.news-date p {
  text-align: right;
font: normal normal normal 19px/30px Helvetica Neue LT Arabic;
letter-spacing: 0px;
color: #9F9F9F;
opacity: 1;
}

.carousel-caption  {
  p {
    font-size: $fz-heading-4 !important;
    font: normal normal normal 18px/40px Helvetica Neue LT Arabic;
  }

  h5 {
    font-size: $fz-heading-4 !important;
    font: bold 18px/40px Helvetica Neue LT Arabic;
    padding-bottom: 12px;
  }
}


// certificate

.certificate {
  background-image:  url("/assets/img/bg/Image\ 37.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    height: 600px;
    display: flex;
    color: white;
    overflow: hidden;

    .cer-dec {
       font-size: $fz-heading-title;
       color: $color-white;
       font: bold 45px/101px Helvetica Neue LT Arabic;
       margin-right: 7rem;
       line-height: 2;
    }

    .cert-title {
    margin-top: 22%;
    background-color: #00B1BF;
    width: 600px;
    margin-left: 44px;
    border-radius: 15px;
    height: 100px;
    max-height: 100px;
    position: absolute;
    margin-top: 69px;

    img {
      width: 90px;
    opacity: 0.4;
    position: absolute;
    }
    }
    
}


.apply-box {
  margin-right: 86%;
background: #00000091;
border-radius: 15px;
padding: 49px 39px 21px 12px;
overflow: hidden;
width: 459px;
height: 360px;
max-height: 360px;
float: right;
margin-top: 148px;
position: inherit;
font: normal normal normal 19px/30px Helvetica Neue LT Arabic;;

h2 {
    line-height: 1.5;
    font-size: 25px;
    padding-bottom: 30px;
}
p {
  line-height: 1.5;
  font-size: 20px;
  padding-bottom: 15px;
}
button {
    color: #fff;
    border: #fff 2px solid;
    border-radius: 25px;
    width: 31%;
}
}

div#allWrapper{
  width: 100%;
  height: 900px;
  // background: url("/assets/img/bg/Pattern\ 1.svg"), url("/assets/img/bg/Pattern\ 2.svg");
  // background-position: right bottom, left top;
  // background-repeat: no-repeat;
  margin-bottom: 120px;
  .card {
    margin: 0 auto;
    width: 20rem;
    background: transparent;
    border: none;
    align-items: center;
    text-align: center;
    overflow: hidden;
    img {
      width: 230px;
      height: 200px;
      max-height: 200px;
    }

    .card-title-drones {
      font-size: $fz-heading-title;
      text-align: right;
      font: bold 45px/101px Helvetica Neue LT Arabic;
      color: #000;
    }
    p {
      font-size: $fz-heading-5;
      text-align: right;
      font: normal normal normal 19px/30px Helvetica Neue LT Arabic;
      color: #000;
      padding-bottom: 20px;
    }

    .more-info {
      color: $color-theme;
      font-size: $fz-heading-5;
      text-align: right;
      float: right;
      font: normal normal normal 19px/30px Helvetica Neue LT Arabic;
      text-decoration: none;
    
      i {
        padding-right: 12px;
      }
      
    }
  }

  .left-card {
    margin-top: 6rem;
    float: right;
  }

  .right-card {
    margin-top: 6rem;
    float: left;
  }

 }

 .dron-card-left {
  div {
    background: #F2F2F2 0% 0% no-repeat padding-box;
  }
 }

 .right-side{
  background: url("/assets/img/bg/Pattern\ 1.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
  height: 900px;

 }

 .left-side{
  background: url("/assets/img/bg/Pattern\ 2.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-color:  #F2F2F2;
  height: 900px;

 }

//  events

#event-Wrraper {
  margin-bottom: 6rem;

  h1 {
    font-size: $fz-heading-title;
    text-align: center;
    font: bold 45px/101px Helvetica Neue LT Arabic;
    color: #000;
    padding-bottom: 20px;
  }
}


.contain {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.item {
  align-items: center;
  color: white;
  display: flex;
  height: 300px;
  justify-content: center;

}

.owl-carousel .owl-item img {
  display: block;
  width: 400px !important;
  max-width: 400px !important;
}

.owl-prev,
.owl-next {
  position: absolute;
  direction: ltr;
  top: 50%;
  transform: translateY(-50%);
}

.owl-prev {
  left: -4rem;
}

.owl-next {
  right: -4rem;
}

.owl-dots {
  display: none !important;
}

.owl-prev, .owl-next {
  span {
    display:block !important;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50% !important;
  border: 1px solid #00B1BF !important;
  color: $color-theme !important;
  background: none !important;
  font-size: $fz-heading-2 !important;
  }
}

.training-dec a:hover {
  color: #19cdda !important; 
}


.Calendar{
  position: relative;
  transition: transform 0.3s ease;
  transform: translateX(0px);
}

.Calendar:hover {
 transform: translateX(-10px);
}

.training-dec a {
  position: relative;
  transition: transform 0.3s ease;
  transform: translateX(0px);
}

.training-dec a:hover {
 transform: translateX(-10px);
}


.card a {
  position: relative;
  transition: transform 0.3s ease;
  transform: translateX(0px);
}

.card a:hover {
 transform: translateX(-10px);
}

.apply-btn:hover {
  background-color: rgba(255, 255, 255, 0.315) !important;
  color: $color-theme;
}

.details-section img{
   transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -o-transition: all .4s linear;
}

.details-section {
  overflow: hidden;
  img {
    transform: scale(1);
		-webkit-transform: scale(1);
  }
}


.details-section:hover {
  img {
    transform: scale(1.1);
		-webkit-transform: scale(1.1);
  }
}

.owl-prev, .owl-next, span:hover {
    background-color: transparent !important;
  }


.date-ribbon {
  position: absolute;
    z-index: 1;
    bottom: 11%;
    left: 67%;
    font-size: 13px;
    font: normal normal normal 19px/30px Helvetica Neue LT Arabic;

    span {
      position: absolute;
      z-index: 1;
      top: 21%;
      left: 51%;
      right: 20%;
      font-size: 2Ù¢px;
      font-weight: 600;
      color: #00B1BF;
    }

    p {
      direction: rtl;
      line-height: 2.2;
    }
}

.item-title {
  padding: 12px;

  h3 {
    color: #333333;
    line-height: 4.2;
    font-size: $fz-heading-3;
   text-align: center;
  font: normal normal bold 19px/30px Helvetica Neue LT Arabic;
  }
}


#treaining {
  position:relative;
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-image: linear-gradient(45deg,#090913 10%,#090913 50%,#090913 100%);

  .training-section {
    position: absolute;
    top: 27%;
    left: 82%;
    width: 400px;
    height: 400px;
  }

  .training-dec {
    position: absolute;
    top: 30%;
    left: 55%;
    width: 400px;
    height: 400px;
    text-align: right;

    h1 {
      color: #FFFFFF;
    line-height: 4.2;
    font-size: $fz-heading-title;
    font: bold 45px/101px Helvetica Neue LT Arabic;
    }

    p {
      color: #FFFFFF;
      line-height: 4.2;
      font-size: $fz-heading-3;
    font: normal normal normal 19px/30px Helvetica Neue LT Arabic;
    padding-bottom: 20px;
    }

    a {
      color: #00B1BF;
    font-size: 18px;
    text-align: right;
    float: right;
    font: normal normal normal 19px/30px Helvetica Neue LT Arabic;
    text-decoration: none;

    li {
    padding-right: 12px;
    }
    }
  }
}

.member-bg {
    position: relative;
    top: 0%;
    left: -19%;
    width: 400px;

  img {
    position: absolute;
    top: 14%;
    left: -64%;
    width: 400px;
    height: 400px;
    padding-bottom: 20px;
  }
}
.member-dec {
  text-align: center;
h1 {
    font-size: 45px;
    text-align: center;
    font: bold 45px/101px Helvetica Neue LT Arabic;
    color: #000;
    padding-bottom: 20px;
  }

  p {
      text-align: center;
      font-size: $fz-heading-3;
       font: normal normal normal 19px/30px Helvetica Neue LT Arabic;
      color: #000;
      padding-bottom: 40px;
  }

}

.btn-drons {
  transition: .5s;
    border-radius: 25px;
    padding: 7px;
    border-radius: 25px;
    padding: .5rem 2rem;
    font-size: 1rem;
    color: #FFFFFF;
   font-size: $fz-heading-3;
   font: normal normal normal 19px/30px Helvetica Neue LT Arabic;
   background: #00B1BF 0% 0% no-repeat padding-box;
   border: 1px solid #00B1BF;
  border-radius: 36px;
  opacity: 1;
}

// footer

footer {
    background: transparent linear-gradient(0deg, #006E77 0%, #006169 100%) 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    
  .logo-center {
    padding-top: 50px;
    width: 200px;
  }

  .drones-gate {
    text-align: center;
    padding-top: 30px;

    button {
      font: normal normal normal 22px/44px Helvetica Neue LT Arabic;
      letter-spacing: 0px;
      color: #ECECEC;
       opacity: 1;
    }
  }
    .footer-links {
      ul {
        list-style: none;
        display: inline-flex;
        text-align: center;
        align-items: center;
        color: #ECECEC;
        font-size: $fz-heading-3;
   font: normal normal normal 19px/30px Helvetica Neue LT Arabic;
      }

      a {
        text-decoration: none;
        color: #ECECEC;
      }

      li {
        text-align: center;
        padding: 12px;
      }
    }

    .media-links {
      a {

          display: inline-block;
          color: #ffffff;
          background-color: transparent;
          border: 1px solid transparent;
          padding: 0.375rem 0.75rem;
          font-size: 1.5rem;
          border-radius: 0.25rem;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    }

    .footer-bootem {
      text-align: center;
      align-items: center;
      color: #ECECEC;
      font-size: $fz-heading-6 !important;
      font-weight: 300;
      font: normal normal normal 19px/30px Helvetica Neue LT Arabic;

  span {
    display: block;
    padding: 12px;
  }


    }

}

footer a:hover {
  color: #FFFFFF !important;
}

.drones-gate {
  button {
    background: #006069 0% 0% no-repeat padding-box;
    border-radius: 20px;
    width: 250px;
    opacity: 1;
    color: #ECECEC;
    padding: 5px;
    font-size: $fz-heading-4 !important;
    font: normal normal normal 19px/30px Helvetica Neue LT Arabic;
    border: none !important;
  }
}

// ************************  Media queries ************************* //

@media only screen and (max-width: 575px) {
  body {
    overflow-x: hidden !important;
  }
  .container {
    max-width: 440px;
}

nav .logo {
  top: 0;
  left: 0;
  width: 169px;
  height: 50px;
}
.nav-container {
  max-width: 400px;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
 
}

.cert-title { 
    width: 100% !important;
}

footer .footer-links ul {
  display: inline-block;
}

.drone-svg {
  display: none !important; 
}

.navbar-dark .navbar-toggler {
  border-color: transparent !important;
}
.navbar-dark .navbar-toggler:focus {
  border-color: transparent !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255) !important;
}
.main-heading {
  margin-top: 42%;
  padding: 14px;
}

.member-shape {
    top: -78px;
}

.member-bg img {
  position: absolute;
    top: 12%;
    left: 0;
    right: -34px;
    width: 80%;
    height: 392px;
    margin-top: -22%;
}

#treaining .training-dec {
  position: inherit;
}

div#allWrapper .right-card {
  margin-top: 1rem;
  float: none;

}

div#allWrapper .left-card {
  margin-top: -22rem;
  float: none;

}

.certificate .cer-dec {
  font-size: 66px;
  color: #ffffff;
  font: bold 45px/101px Helvetica Neue LT Arabic;
  margin-right: inherit;
  line-height: 2;
}

.certificate {
  height: 100%;
}

.apply-box {
  margin-right: 0;
  background: #00000091;
  border-radius: 15px;
  padding: 49px 39px 21px 12px;
  overflow: hidden;
  width: 100%;
  height: 360px;
  max-height: 360px;
  float: unset;
  margin-top: 148px;
  position: inherit;
  font: normal normal normal 19px/30px Helvetica Neue LT Arabic;
}

.certificate .cert-title img {
  display: none;
}

}

@media (min-width: 1200px) {
.nav-container {
    max-width: 1050px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
   
}





}










